.btn:not(:disabled):not(.disabled) {
  text-align: center;
}

.btn:not(:disabled):not(.disabled) {
  margin: 0 auto;
  float: left;
}

.btn-group, .btn-group-vertical {
  text-align: center!important;
}

.col.nav-buttons {
  text-align: center;
}

.btn-group.d-inline-block {
  text-align: center;
}

.btn-primary {
  color: #fff;
  background-color: #6441A4 !important;
  border-color: unset !important;
}

@media (max-width: 400px) {
  .btn {
    padding: 6px 6px !important;
  }
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #0062cc;
  border-color: #005cbf;
}

.img-fluid {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
}

a {
  color: #6441A4;
  /*text-decoration: underline;*/
}

a:hover {
  color: #8164b8;
  text-decoration: underline;
}

.btn-primary:hover {
  color: #fff;
  background-color: #8164b8 !important;
}

@media (min-width:992px) {
  #GloryGiraffe {
    /*-ms-flex: unset !important;*/
    /*flex: unset !important;*/
    /*max-width: unset !important;*/
  }
}

@media (min-width:768px) {
  #GloryGiraffe {
    /*-ms-flex: unset !important;*/
    /*flex: unset !important;*/
    /*max-width: unset !important;*/
  }
}

@media (min-width:1200px) {
  #GloryGiraffe {
    /*-ms-flex: unset !important;*/
    /*flex: unset !important;*/
    /*max-width: unset !important;*/
  }
}

